In [1]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Adam'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Doe'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', 'A@email.com']
}

In [2]:
import pandas as pd

In [3]:
data = pd.DataFrame(people)

In [4]:
data

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [7]:
data.sort_values(by='first',ascending = False)

   first     last                    email
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com

In [8]:
data.sort_values(by=['first','last'],ascending=False)

   first     last                    email
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com

In [9]:
data.sort_values(by=['first','last'],ascending=[False,True])

   first     last                    email
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com

In [10]:
data.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [11]:
data.sort_index(ascending=False)

   first     last                    email
3   Adam      Doe              A@email.com
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [12]:
data['last'].sort_values()

1        Doe
2        Doe
3        Doe
0    Schafer
Name: last, dtype: object