In [1]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [2]:
people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}

In [3]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [5]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [10]:
df[['email']]

                     email
0  CoreyMSchafer@gmail.com
1        JaneDoe@email.com
2        JohnDoe@email.com

In [11]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [13]:
df[['email','last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe
2        JohnDoe@email.com      Doe

In [14]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [15]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [17]:
df.iloc[0,1]

'Schafer'

In [21]:
df.iloc[[0,1],1]

0    Schafer
1        Doe
Name: last, dtype: object

In [24]:
df.loc[[0,1],['email','last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe